header{
    background: rgba(255,255,255, 0.9);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--border);
    position:sticky;
    top: o;
    z-index: 999;

 }
 .navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -ms-flex-pack: justify;
    justify-content:space=space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 18px,0;

}
.logo{
    font-size: 28px;
    font-weight: 800;
    color: var(--primery);
    letter-spacing: -1px;
    transition: 0.3ps;
    -webkit-transition: 0.3ms;
    
}

.logo:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

}
.nav-links {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    gap: 30px;

}
.nav-links a {
    color: var(grey);
    font-weight: 500;
    position: relative;
    transition: 0.3s;

}
.nav-links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: var(--primery);
    transition: 0.3s;

}
.nav-links a:hover::after{
    width: 100%;

}
.auth-buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    gap: 12px;

}
.btn-small{
    background: var(--dark);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-small.logo:hover{
    background: var(primary);
}