@media(max-width:900px) {

    .hero {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;

        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:600px) {

    .nav-links {
        display: none;
    }

    .search-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;

        -ms-flex-direction: column;
        flex-direction: column;
    }

    .hero-content h1 {
        font-size: 42px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }
}