

venv/
env/
ENV/


*.log
db.sqlite3
media/

staticfiles/


.env


.vscode/

.idea/




.DS_Store
Thumbs.db

.coverage
htmlcov/
.pytest_cache/


*.pyo
*.pyd


build/
dist/
*.egg-info/


node_modules/

__pycache__/
*.pyc
