<footer>

    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <h4>

                    FoodCrave

                </h4>

                <p>

                    Fast delivery.
                    Fresh meals.

                </p>

            </div>

            <div class="col-md-4">

                <h5>

                    Quick Links

                </h5>

                <ul class="list-unstyled">

                    <li>

                        <a href="{% url 'home' %}">
                            Home
                        </a>

                    </li>

                    <li>

                        <a href="{% url 'food' %}">
                            Foods
                        </a>

                    </li>

                </ul>

            </div>

            <div class="col-md-4">

                <h5>

                    Contact

                </h5>

                <p>

                    support@foodcrave.com

                </p>

                <p>

                    +91 XXXXX XXXXX

                </p>

            </div>

        </div>

        <hr>

        <p class="text-center">

            © 2026 FoodCrave

        </p>

    </div>

</footer>