<header>

    <div class="container navbar">

        <a href="/" class="logo">
            Food Crave
        </a>

        <nav class="nav-links">

            <a href="/">Home</a>

            <a href="#">Menu</a>

            <a href="#">Restaurants</a>

            <a href="#">Contact</a>

        </nav>

        <div class="auth-buttons">

            <button class="btn-text">
                Login
            </button>

            <button class="btn-small">
                Sign Up
            </button>

        </div>

    </div>

</header>