{% extends 'layout/base_layout.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow-lg">

                <div class="card-header bg-success text-white">

                    <h3 class="mb-0">
                        Add Food Item
                    </h3>

                </div>

                <div class="card-body">

                    <form method="POST"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="text-end">

                            <button
                                type="submit"
                                class="btn btn-success">

                                Add Food

                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}