{% extends 'layout/base_layout.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card mb-5">

        {% if restaurant.restaurant_image %}

        <img src="{{ restaurant.restaurant_image.url }}" style="
height:350px;
object-fit:cover;">

        {% endif %}

        <div class="card-body">

            <h1>

                {{ restaurant.name }}

            </h1>

            <p>

                {{ restaurant.description }}

            </p>

            <p>


                {{ restaurant.address }}

            </p>

            <a href="https://www.google.com/maps/dir//{{ restaurant.address }}" target="_blank"
                class="btn btn-outline-primary ms-2">
                Open In Google Maps

            </a>

        </div>

    </div>





    <h2>

        Foods

    </h2>

    <div class="row g-4">

        {% for food in foods %}

        <div class="col-md-4">

            <div class="card h-100">

                <img src="{{ food.food_image.url }}" style="
height:220px;
object-fit:cover;">

                <div class="card-body d-flex flex-column">

                    <h5>

                        {{ food.food_name }}

                    </h5>

                    <p>

                        ₹{{ food.price }}

                    </p>

                    <p>

                        {{ food.description }}

                    </p>

                    <div class="mt-auto">

                        <form method="POST" action="{% url 'add_to_cart' %}">

                            {% csrf_token %}

                            <input type="hidden" name="food_id" value="{{ food.id }}">

                            <input class="form-control mb-2" type="number" name="quantity" value="1">

                            <button class="btn btn-primary w-100">

                                Add To Cart

                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

        {% empty %}

        <h4>

            No foods available

        </h4>

        {% endfor %}

    </div>

</div>

{% endblock %}