{% extends 'layout/base_layout.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">
        My Cart
    </h2>

    <div class="row">

        <div class="col-lg-8">

            {% for item in items %}

            <div class="card mb-3 shadow-sm">

                <div class="row g-0">

                    <div class="col-md-3">

                        <img src="{{ item.food_item.food_image.url }}" class="img-fluid rounded-start" style="
                                height:150px;
                                width:100%;
                                object-fit:cover;
                            " alt="{{ item.food_item.food_name }}">

                    </div>

                    <div class="col-md-9">

                        <div class="card-body">

                            <div class="d-flex justify-content-between">

                                <h4>
                                    {{ item.food_item.food_name }}
                                </h4>

                                <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger btn-sm">
                                    Remove
                                </a>

                            </div>

                            <p class="text-success fw-bold">
                                ₹{{ item.food_item.price }}
                            </p>

                            <p>
                                Quantity:
                                <strong>{{ item.quantity }}</strong>
                            </p>

                            <h5>

                                Total:
                                ₹{% widthratio item.food_item.price 1 item.quantity %}

                            </h5>

                        </div>

                    </div>

                </div>

            </div>

            {% empty %}

            <div class="alert alert-warning">

                Your cart is empty.

            </div>

            {% endfor %}

        </div>

        <div class="col-lg-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>
                        Order Summary
                    </h4>

                    <hr>

                    <div class="d-flex justify-content-between">

                        <span>Items Total</span>

                        <span>₹{{ total }}</span>

                    </div>

                    <hr>

                    <div class="d-flex justify-content-between">

                        <h5>Total</h5>

                        <h5>₹{{ total }}</h5>

                    </div>

                    <a href="{% url 'checkout' %}" class="btn btn-success w-100 mt-3">
                        Proceed To Checkout
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}