{% extends 'layout/base_layout.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        My Orders
    </h2>

    {% for order in orders %}

    <div class="card shadow-sm mb-4">

        <div class="card-body">

            <div class="d-flex justify-content-between">

                <h4>
                    Order #{{ order.id }}
                </h4>

                {% if order.status == 'placed' %}
                <span class="badge bg-warning">
                    Placed
                </span>

                {% elif order.status == 'accepted' %}
                <span class="badge bg-primary">
                    Accepted
                </span>

                {% elif order.status == 'picked' %}
                <span class="badge bg-info">
                    Picked Up
                </span>

                {% elif order.status == 'delivered' %}
                <span class="badge bg-success">
                    Delivered
                </span>

                {% endif %}

            </div>

            <hr>

            <div class="row">

                <div class="col-md-6">

                    <p>
                        <strong>Restaurant:</strong>
                        {{ order.restaurant.name }}
                    </p>

                    <p>
                        <strong>Delivery Charge:</strong>
                        ₹{{ order.delivery_fee|floatformat:2 }}
                    </p>

                </div>

                <div class="col-md-6">

                    <p>
                        <strong>Food Total:</strong>
                        ₹{{ order.total_price|floatformat:2 }}
                    </p>

                    <p>
                        <strong>Grand Total:</strong>
                        ₹{{ order.total_price|add:order.delivery_fee|floatformat:2 }}
                    </p>

                </div>

            </div>

            {% if order.status != 'delivered' %}

            <div class="alert alert-warning mt-3">

                <strong>Delivery OTP:</strong>
                {{ order.delivery_otp }}

            </div>

            {% else %}

            <div class="alert alert-success mt-3">

                Order Delivered Successfully

            </div>

            {% endif %}

            <small class="text-muted">

                Ordered on:
                {{ order.created_at }}

            </small>

        </div>

    </div>

    {% empty %}

    <div class="alert alert-info">

        No orders found.

    </div>

    {% endfor %}

</div>

{% endblock %}